<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Crea tu Cuenta</h1>
  </div>
  <form id="form">
    <ion-item class="ion-margin-bottom" *ngFor="let item of inputs">
      <ion-input type="{{item.type}}" placeholder="{{item.placeholder}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Selecciona tu Centro" interface="popover">
        <ion-select-option *ngFor="let item of centros" [value]="item.nombre">{{item.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" shape="round">
      Continuar
    </ion-button>
  </form>
</ion-content>