<ion-header>
  <ion-toolbar>
    <ion-title>info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-item>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae sapien dapibus, imperdiet ipsum nec, aliquam ex. Etiam eget luctus nisi, nec venenatis nisl. Proin fermentum orci pretium, commodo felis ut, accumsan nunc. Fusce dapibus ultrices ante, at sollicitudin massa suscipit vel. Etiam suscipit facilisis pellentesque. Phasellus sit amet lacus non massa cursus ultrices in in lorem. Donec semper fermentum ipsum, vitae sollicitudin justo laoreet sed. Aenean viverra, nisl sollicitudin tristique rutrum, arcu sapien porta odio, in iaculis dui nisl vitae nunc. Donec fermentum, magna quis aliquam consectetur, diam diam condimentum est, vitae hendrerit mi dui sit amet nisl. Proin dui libero, tincidunt eget ante vel, mollis malesuada risus. Sed commodo sed libero non fringilla. </p>
 </ion-item>
</ion-content>
