<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Iniciar Sesión</h1>
    <ion-avatar>
      <ion-img src="../../../assets/imagenes/default.jpg"></ion-img>
    </ion-avatar>
  </div>
  <form id="form">
    <ion-item class="ion-margin-bottom" *ngFor="let item of inputs">
      <ion-input type="{{item.type}}" placeholder="{{item.placeholder}}"></ion-input>
    </ion-item>
    <ion-button expand="block" shape="round">
      Iniciar Sesión
    </ion-button>
    <div>
      <a href="">¿Olvidaste tu contraseña?</a>
    </div>
    <ion-button expand="block" shape="round" routerLink="./">Regístrate</ion-button>
  </form>
</ion-content>