<ion-header>
  <ion-toolbar>
    <ion-title>creditos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Créditos</h1>
    <p>Reservados todos los derechos. No se permite la reproducción total o parcial de esta obra, ni su
      transmisión en cualquier forma o por cualquier medio (electrónico, mecánico, fotocopia, grabación u otros)
      sin autorización previa y por escrito de los titurales del copyright, que en este caso serían Jesús Abellán 
      García, Kira Mironova y Sebastian Carnero Gómez. La infracción de deichos derechos puede constituir un delito
      contra la propiedad intelectual. <strong>IgualdApp  ©.</strong></p>
  </div>
  <h2>Equipo de Desarrollo:</h2>
  <div>
    <h3>Developer</h3>
    <ion-avatar>
      <ion-img src="../../../assets/imagenes/default.jpg"></ion-img>
    </ion-avatar>
    <ion-item class="ion-margin-bottom">
      <ion-label>Jesús Abellán García</ion-label>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-label>jesusabellangarcia@iessoterohernandez.es</ion-label>
    </ion-item>
  </div>

  <div>
    <h3>Developer</h3>
    <ion-avatar>
      <ion-img src="../../../assets/imagenes/default.jpg"></ion-img>
    </ion-avatar>
    <ion-item class="ion-margin-bottom">
      <ion-label>Kira Mironova</ion-label>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-label>kiramironova@iessoterohernandez.es</ion-label>
    </ion-item>
  </div>

  <div>
    <h3>Developer</h3>
    <ion-avatar>
      <ion-img src="../../../assets/imagenes/default.jpg"></ion-img>
    </ion-avatar>
    <ion-item class="ion-margin-bottom">
      <ion-label>Sebastian Alejandro Carnero Gómez</ion-label>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-label id="long-mail">sebastianalejandrocarnerogomez@iessoterohernandez.es</ion-label>
    </ion-item>
  </div>
</ion-content>