<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons *ngIf="router.url!='/home'" slot="start">
      <ion-back-button defaultHref="home" [mode] ="'md'"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="abrirMenu()" [mode] ="'md'"><ion-icon slot="start" name="menu"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>IgualdApp</ion-title>
  </ion-toolbar>
</ion-header>
   <ion-menu-toggle auto-hide="true">
      <ion-menu #miMenu autohide="true" side="end" menuId="menuPrincipal" autohide="true" contentId="main">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>IgualdApp</ion-title>
          </ion-toolbar>
        </ion-header>
        
        <ion-content>
          <ion-list>
            <ion-item *ngFor="let item of items" [routerLink]="item.ruta">
              <ion-label>{{item.nombre}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
    </ion-menu-toggle>  
    